In [6]:
name1 = '吉澤'
name2 = '亮介'
age = '26'

In [8]:
print('私は' + name1 + name2 +'です。' + age + '才です。')

私は吉澤亮介です。26才です。

In [9]:
names = ['鈴木', '佐藤', '吉崎', '田中']

In [10]:
names

['鈴木', '佐藤', '吉崎', '田中']

In [13]:
for(name) in names:
    print(name + 'さん、こんにちは')

鈴木さん、こんにちは
佐藤さん、こんにちは
吉崎さん、こんにちは
田中さん、こんにちは

In [25]:
a = 5

In [26]:
a

5

In [27]:
a/2

2.5

In [28]:
a%2

1

In [29]:
if a%2 == 0:
    print('偶数です')
else:
    print('奇数です')

奇数です

In [34]:
def say_hello(name):
    print(name + '2222')
    print('hogeogheoge')

In [35]:
say_hello('aaa')

aaa2222
hogeogheoge

In [36]:
def say_hello(name1, name2):
    print(name1 +'さん' + name2)

In [38]:
say_hello('kkk','aa')

kkkさんaa